<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Browser sinc</title>
</head>
    
<body>
    <h2>Hey jo</h2>
    <p>https://browsersync.io/</p>
</body>
<!-- Use in development only -->
<script src="index.js" async></script>

</html>

<!-- browser-sync start --server --files --watch "html/*.html" -->